
<h1> Leave a comment</h1>
<%= form_with model: @comment, url: user_post_comments_path do|f|%>
     <% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

     <div class="form-group">
      <%= f.label :text, "Text" %>
      <%= f.text_area :text, class: "form-control" %>
    </div>
    <%= f.submit "Add comment",class:"btn btn-light mt-3"%>
  </div>


<% end %>
