<h1> Create a post</h1>
<%= form_with model: @post, url: user_posts_path do |f| %>

    <div class="form-group">

      <%= f.label :title, "Title" %>
      <%= f.text_field :title, class:"form-control" %>
</div>
     <div>
      <%= f.label :text, "Text" %>
      <%= f.text_area :text, class: "form-control" %>
    </div>
    <%= f.submit "Publish",class:"btn btn-light mt-3"%>
            <% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>
  </div>

<% end %>
