<main class=" row border border-1 mt-2">
<div class="col">
   <h1 ><%= @post.title %>  by:<%=@post.user.name%></h1>
   <p  ><%= "Comments: #{@post.comments_counter || 0}, Likes: #{@post.likes_counter || 0 }" %></p>

 <p><%= @post.text %></p>
</div>
 <br/>
<div class="row border border-1 mt-2" >
   <% @post.comments.each do |comment| %>
     <p><%= "#{comment.user.name}: #{comment.text}" %></p>

    <% if can? :destroy,comment%> <%= button_to "Delete", user_post_comment_path(@user.id,@post.id,comment.id), method: :delete, class: "btn btn-warning" %> <%end%>


   <% end %>

   <div class="d-flex justify-content-around">

     <%= link_to 'Add a comment',new_user_post_comment_path(@user.id ,@post),class:"btn btn-light mt-3"%>

    <%= button_to 'Like this post',user_post_likes_path(@user.id, @post.id), method: :post,class:"btn btn-light mt-3"%>



   </div>




 </div>



</main>




   <%= link_to ('back home'),users_path,class:"d-flex align-items-center justify-content-center m-3 text-white" %>
